{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--======== CSS ======== -->
 
    

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'images/logo.png' %}" alt="Logo">
                </span>

                <div class="text logo-text">
                    <span class="name">{% if user.is_authenticated %} {{ user.username }} {% else %} Welcome {% endif%} </span>
                    <span class="profession"> {% if user.is_authenticated %} Deparment : ({{ user.department }}) {% else %} Dax management {% endif %} </span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
           
            <div class="menu">

                

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
               

                <ul class="menu-links">

                    {% if user.is_authenticated %}
                    <li class="nav-link">
                        <a href="{% url 'dashboard' %}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                   

                    <li class="nav-link">
                        <a href="{% url 'attendance' %}">
                            <i class='bx bx-note icon'></i>
                            <span class="text nav-text">Attendance</span>
                        </a>
                    </li>
                   

                    <li class="nav-link">
                         <a href="{% url 'leave' %}">
                            <i class='bx bx-log-out-circle icon'></i>
                            <span class="text nav-text">Leave</span>
                        </a>
                    </li>
                    

                    <li class="nav-link">
                        <a href="{% url 'payroll' %}">
                            <i class='bx bx-dollar icon' ></i>
                            <span class="text nav-text">Payroll</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'profile' %}">
                            <i class='bx bx-user icon' ></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>




                    
                    <li class="nav-link">
                        <a href="{% url 'reports' %}">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Reports</span>
                        </a>
                    </li>


                    
                    {% else %}
                    <li class="nav-link">
                        <a href="{% url 'login' %}">
                            <i class='bx bx-log-in icon' ></i>
                            <span class="text nav-text">Login</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'register' %}">
                            <i class='bx bx-notepad icon' ></i>
                            <span class="text nav-text">Register</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>

            
              
            </div>






            <div class="bottom-content">
                {% if user.is_authenticated %}
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                {% endif %}

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <!-- <div class="text">Dashboard Sidebar</div> -->
        {% block content %}
        {% endblock %}

            </section>


            <script src="{% static 'js/script.js' %}">  </script> 

</body>
</html>