{% extends 'base.html' %}

{% block content %}
  <h2>Attendance</h2>
  <form class="form" style="margin-left: 0;" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  <br><br><br>

  <h3>Attendance History</h3>
  <ul>
    {% for attendance in attendances %}
      <li>{{ attendance.date }} - {% if attendance.status %}<span style="color: green;">Present</span>{% else %}<span style="color: rgb(213, 47, 47);">Absent</span>{% endif %}</li>
    {% endfor %}
  </ul>
{% endblock %}